html,body,p,div{
    display:block;
    border:none;
    background: none;
    margin:0;
    padding:0;
}
button{
    border:1px solid #999999;
    background-color: #cccccc;
    padding:5px;
}