html,body,p,div,canvas{
    display:block;
    border:none;
    background: none;
    margin:0;
    padding:0;
}
html{
    background-color: #ffffff;
}
button{
    border:1px solid #999999;
    background-color: #cccccc;
    padding:5px;
}